*{
    padding: 0;
    margin: 0 auto;
}
.jumbotron{
    padding-top: 100px;
    background-color: #000242;
    color: white;
    border-radius: 0;
}
.btn{
    width: 150px;
    
}
.footer{
    color: white;
    background-color: #0B0033;
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 10px 10px 0px 10px;
}

.card{
    padding: 20px 5px 10px 5px;
    flex: 1 250px;
    border: none;
}
.border{
    border-top: none;
}
.letra{
    color: white;
}
.icon{
    width: 6%;
    height: 6%;
}